.search-user-container {
  display: flex;
  align-items: center!important;
  gap: 10px;
  margin: 0;
  padding: 20px;
}

.search-input-container {
  position: relative;
  flex: 1; 
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-select-container {
  flex: 1; 
}

.container-button-search-user {
  display: flex;
  gap: 10px;
}
