.custom2-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom2-select {
  width: 100%;
  border: 1px solid #888;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  background-color: white;
  color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom2-select-wrapper::after {
  content: "";
  position: absolute;
  top: 60%;
  right: 1rem;
  width: 0.6rem;
  height: 0.6rem;
  pointer-events: none;
  transform: translateY(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #555;
  z-index: 1;
}


.custom-select-label {
  position: absolute;
  top: 0.9rem;
  left: 0.5rem;
  font-size: 0.9rem;
  color: #666;
  background: white;
  padding: 0 0.25rem;
  transition: 0.2s ease all;
  pointer-events: none;
  width: 80%;

}


.custom-select-label.float {
  top: -0.5rem;
  left: 0.4rem;
  font-size: 0.75rem;
  color: #007bff;
  border: 1px solid #007bff8c;
  border-radius: 4px;
  padding: 0 4px;
  background-color: white;

  /* Removido text-shadow */
  /* text-shadow: 0 0 6px rgba(0, 123, 255, 0.7); */
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
}

.custom-select-label.float {
  animation: glowPulse 1.5s infinite ease-in-out;
}
