.sideMenu {
  width: 250px;
  background-color: var(--sidebar-bg, #f4f4f4);
  padding: 20px;
  height: calc(100vh - 42px);
  position: fixed;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.title_sidebar_menu {
  font-size: 18px;
  color: white;
}

.sideMenu.collapsed {
  width: 90px;
}

.button-collapse {
  position: absolute;
  top: 4%;
  left: 87%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  border-radius: 50%;
  background-color: #b1bdc823;
  padding: 10px;
}

.button-collapse.collapsed {
  left: 50%;
}

.container-menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
  border-top: 1px solid #b1bdc883;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  margin-top: 5px;
  position: relative;
}

.link:hover {
  background-color: #b1bdc823;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #b1bdc823;
}

.link:hover h3 {
  color: #fff;
}

.link h3 {
  margin: 0 0 0 10px;
  color: #b1bdc886;
  font-size: 14px;
}

.icon {
  color: #b1bdc886;
  transition: color 0.3s ease;
}

.link:hover .icon {
  color: #fff;
}

.link.active .icon {
  color: #fff;
}

.sidebar__profile {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  gap: 0.75rem;
  flex-direction: row;
  color: #e7eaee;
  overflow: hidden;
  min-height: 4rem;
  margin-top: auto;
}

.avatar__wrapper {
  position: relative;
  display: flex;
}

.avatar {
  display: block;
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.avatar__name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  white-space: nowrap;
}

.user-name {
  font-weight: 600;
  text-align: left;
  color: #e7eaee;
  position: absolute;
}

.email {
  color: #e7eaee;
  font-size: 0.8rem;
}

.perfil-status-badge {
  background-color: rgb(63, 179, 9);
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  right: 25px;
}

/*COLLAPSED*/

.container-menu-collapsed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
  border-top: 1px solid #b1bdc883;
}

.link-collapsed {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  width: 40px;
  font-size: 18px;
  margin-top: 5px;
  position: relative;
}

.link-collapsed:hover {
  background-color: #b1bdc823;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #b1bdc823;
}

.link-collapsed:hover h3 {
  color: #fff;
}

.link-collapsed h3 {
  margin: 0 0 0 10px;
  color: #b1bdc886;
  font-size: 14px;
}

.icon-collapsed {
  color: #b1bdc886;
  transition: color 0.3s ease;
}

.link-collapsed:hover .icon-collapsed {
  color: #fff;
}

.link-collapsed.active .icon-collapsed {
  color: #fff;
}


.container-submenu-link-home-sidebar { 
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 30px;
  
}

.container-submenu-link-home-sidebar a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff9d;
  padding: 3px;
  width: 100%;
  font-size: 14px;
}

.container-submenu-link-home-sidebar a:hover{
  background-color: #b1bdc823;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #b1bdc823;
}

.icon-arrow:hover {
  color: #fff;
}