.container-detalhes {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.829);
}

.container-detalhes h4 {
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(216, 208, 208);
  padding-bottom: 10px;
  width: 100%;
}

.container-detalhes p {
  padding: 2px 0px 0px 7px;
  border-radius: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}

.coluna {
  flex: 1;
  min-width: 300px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(216, 208, 208);
  background-color: white;
}
.foto {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.container-participantes-chamado {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 90%;
}

.container-solicitante,
.container-tecnico {
  flex: 1;
}

.container-solicitante p,
.container-tecnico p {
  padding: 2px 0px 0px 7px;
  border-radius: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.315);
  padding: 2px 0px 0px 7px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.container-nao-atribuido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
