.content {
  margin-left: 250px; 
  padding: 20px;
  flex-grow: 1;
  background-color: (0,0,0 .200);
  height: calc(100vh - 104px);
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.content.collapsed {
  margin-left: 90px;
}

.main-content {
  display: flex;
  height: calc(100vh - 104px); 
  margin-top: 0px;
  padding-bottom: 42px;
  box-sizing: border-box;
}
.footer.collapsed {
  margin-left: 90px; 
}
