.content {
  padding: 20px 20px 0px 20px;
  flex-grow: 1;
  background-color: (0, 0, 0 0.2);
  height: calc(100vh - 104px);
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

.main-content {
  display: flex;
  height: calc(100vh - 104px);
  margin-top: 0px;
  padding-bottom: 42px;
  box-sizing: border-box;
}

.footer.collapsed {
  margin-left: 80px;
}
