.aba-andamento {
  padding: 20px;
  background-color: #faf6f6;
  border-radius: 10px;
  max-height: 500px;
  overflow-y: auto;
}

.aba-andamento h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #333;
}

.comentarios {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.comentario {
  display: flex;
  gap: 15px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  align-items: center;
}

.comentario img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.conteudo {
  flex: 1;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.usuario-info {
  display: flex;
  flex-direction: column;
}

.detalhes-user {
  font-size: 0.85rem;
  color: #666;
}

.cabecalho strong {
  color: #222;
  font-weight: 600;
}

.data-registro {
  font-size: 1rem;
  color: #20221f;
}

.descricao {
  margin: 0;
  color: #444;
  font-size: 1rem;
}

.tag-status {
  color: #2196f3;
  font-weight: bold;
  background-color: #e3f2fd;
  padding: 4px 6px;
  border-radius: 4px;
  display: inline-block;
}
.container-adicionar-notas {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  box-sizing: border-box;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid rgb(221, 215, 215); 
  margin-top: 10px;
}

.container-adicionar-notas textarea {
  width: 100%;
  max-width: 100%;
  height: auto;
  resize: none;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.container-adicionar-notas textarea:focus {
  border: 1px solid #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.container-button-adicionar-notas {
  display: flex;
  justify-content: end;
}

.divisor-data {
  text-align: center;
  margin: 2rem 0;
  font-weight: 500;
  color: #444;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-left: none;
  border-right: none;
  padding: 0.75rem 0;
  font-size: 0.95rem;
  background-color: #f9f9f9;
  border-radius: 4px;
  background-color: #eeeff0;
}



